/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    background-color: #282c34;
}

/* Utilities */
.container-button {
    max-width: 1080px;
    margin: 30px auto;
}



/* Header */
header {
    background-color: white;
    padding: 10px 18px;
}

#logo-header {
    vertical-align: middle;
    height: 50px;
}

.title-header {
    display: inline;
    vertical-align: middle;
    font-size: 45px;
    font-family: sans-serif;
}

/* Header main */
.button {
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid #959595;
}

.button.add-task {
    background-color: #1e90ff;
    color: white;
}

.button.add-section {
    margin-left: 3px;
    color: #959595;
}
