/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    background-color: #282c34;
    font-family: sans-serif;
}

/* Utilities */
.container-button {
    max-width: 1080px;
    margin: 30px auto;
}

.container-main {
    max-width: 1080px;
    margin: 2px auto;;
}

/* Header */
header {
    background-color: white;
    padding: 10px 18px;
}

#logo-header {
    vertical-align: middle;
    height: 50px;
}

.title-header {
    display: inline;
    vertical-align: middle;
    font-size: 45px;
}

/* Header main */
.button {
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid #959595;
}

.button.add-task {
    background-color: #1e90ff;
    color: white;
}

.button.add-section {
    margin-left: 3px;
    color: #959595;
}

/* Main */
main {
    background-color: white;
    padding: 30px 20px;
}

/*Section New Task*/
ul{
    list-style-position: inside;
    list-style-type: none;
}

li {
    margin-top: 10px;
}

.icon::before {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border-radius: 50%;
    line-height: 15px;
    font-size: 10px;
    text-align: center;
}

li .icon.checked::before {
    content: '\2713';
    border: 1px solid #2cc6ab;
    color: #2cc6ab;
}


.label {
    background-color:#1e90ff;
    display: inline-block;
    padding: 5px 10px;
    font-size: 10px;
    color: white;
    border-radius: 10px;
}
